.logo {
    max-width: 100px;
    text-align: center;
  }
  
  .menu {
    .menu {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin-bottom: 20px;
    }
  
    li {
      font-weight: bold;
      a {
        color: $cor-primaria;
      }
    }
  }
  